#mapview {
    overflow: scroll;
    left: 30px;
    top: 30px;
    width: 750px;
    height: 500px;
    padding: 10px;
    border:  1px solid #000000;
    -ms-overflow-style: none; /*hides scroll bars for ms browsers*/
    scrollbar-width: none; /*hides scroll bars for firefox*/
}

#mapview::-webkit-scrollbar {
    display:none; /*hides scroll bars for webkit browsers*/
}